/* You can add global styles to this file, and also import other style files */
@import "./variable";
html {
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
    @media (max-width: $xs-max-width) {
      font-size: 14px;
    }
  }
body {
    font-size: 1rem;;
    margin: 0;
    font-family: $base-font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  h1 {
    margin: 0;
    font-size: 2.5rem;
  }
  h4 {
    margin: 0;
    font-size: 1.5rem;
  }
button {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    -webkit-appearance: none;
    font-family: inherit;
    border-radius: 8px;
    font-size: 0.9rem;
}
input {
    display: inline-block;
    font-size: 1rem;
    font-family: inherit;
}
  input, button {
    &:focus {
        outline: 0;
    }
  }
    .font-weight-bold {
      font-weight: bold;
    }